<h1>
  Add a new flow comment
</h1>


<hr>

<form action="/create_flow_comment" method="post">

  <div class="form-group">
    <label for="flow_id">
      Flow
    </label>

    <input type="text" id="flow_id" name="flow_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create flow comment
  </button>
</form>

<hr>

<a href="/flow_comments">
  Go back
</a>
